
2019/18/pain/eighteen-redux-2.py
2019/18/pain/eighteen-redux-3.py
2019/18/pain/eighteen-redux-4.py
2019/18/pain/eighteen-redux-5.py
2019/18/pain/eighteen-redux.py
2019/18/pain/eighteen.py
2019/18/eighteen.py
2019/18/eighteen-in-2d.txt
2019/18/eighteen-in-2c.txt
2019/18/eighteen-in-2b.txt
2019/18/eighteen-in-2a.txt
2019/18/eighteen-2.py
2019/18/eighteen.py
2023/__pycache__/puzzle.cpython-39.pyc
2023/__pycache__/ten.cpython-39.pyc
